.post-card
    margin-bottom: 25px
    .card-img
        margin: 15px 0
        height: 200px
        img
            max-height: 100%

.post-blocks
    &__title
        text-decoration: underline
        margin-bottom: 25px
    &__arrow
        position: absolute
        top: 50%
        transform: translateY(-50%)
        font-size: 45px
        color: #666
        &-left
            left: -45px
        &-right
            right: -45px

.post-block
    &__img
        height: 250px
        img
            display: block
            margin: auto
            width: auto!important
            max-height: 100%
