.post-card
    margin-bottom: 25px
    .card-img
        margin: 15px 0
        height: 200px
        img
            height: 200px
    &__header
        display: flex
        align-items: center
        justify-content: space-between

.post-blocks
    &__title
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 25px
    &__arrow
        position: absolute
        top: 50%
        transform: translateY(-50%)
        font-size: 45px
        color: #666
        &-left
            left: -45px
        &-right
            right: -45px

.post-block
    a
        padding: 0 30px
        display: flex
        align-items: center
        margin: auto
        height: 250px
        img
            margin: auto
            width: auto!important
            height: auto
            max-height: 250px
    &__img
        display: flex
        align-items: center
        height: 250px


.post-images__slider
    height: 200px
    a
        display: flex
        height: 200px
    img
        max-height: 200px
        margin: auto
        width: auto!important
    .owl-dots, .owl-nav
        height: 0

.post-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-size: 20px
    color: #666
    &__left
        left: -15px
    &__right
        right: -15px

.post-cat
    color: rgba(#000, .5)
    transition: color .3s
    &:hover
        color: #000

.post-images
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-bottom: 25px
.post-image
    width: 20%
    padding-right: 10px
    flex-shrink: 0
    position: relative
    &__close
        position: absolute
        top: 0
        right: 10px
        width: 20px
        height: 20px
        display: flex
        align-items: center
        justify-content: center
        color: #fff
        background: #ccc
        cursor: pointer
        transition: background-color .3s
        &:hover
            background: #000

.post-buttons
    display: flex
    align-items: center
    flex-wrap: wrap
#post-edit
    margin-right: 10px

@media screen and (max-width: 991px)
    .post-blocks
        &__title
            flex-shrink: 0
            margin-bottom: 20px
            width: 100%
            &-wrapper
                flex-wrap: wrap

    .post-image
        margin-bottom: 15px
        width: 48%


@media screen and (max-width: 625px)
    .post-blocks
        &__arrow
            top: auto
            bottom: -5px
            font-size: 30px
            &-left
                left: 0
            &-right
                right: 0

@media screen and (max-width: 499px)
    .post-card
        .card-img
            a
                height: 150px
            img
                max-height: 150px
    .post-card
        .card-img
            height: 150px
    .post-buttons
        align-items: flex-start
        flex-direction: column
    #post-edit
        margin-bottom: 10px
