body
    position: relative
    min-height: 100vh
    background-color: #f8fafc
    transition: background-color 1s

p
    margin-bottom: 5px

img
    max-width: 100%

a, a:hover
    text-decoration: none

@import "main"
@import "profile"
@import "post"
@import "league"
@import "footer"



.blue
    color: #1E90FF!important

.green
    color: #008000!important

.pink
    color: #FFA07A!important

.brown
    color: #8B4513!important

.yellow
    color: #FFA500!important

.blue-bg
    background-color: rgba(#1E90FF, .05) !important

.green-bg
    background-color: rgba(#008000, .05)!important

.pink-bg
    background-color: rgba(#FFA07A, .05)!important

.brown-bg
    background-color: rgba(#8B4513, .05)!important

.yellow-bg
    background-color: rgba(#FFA500, .05)!important
