/** ========= Menu ========= **/
.flexmenu {
	background: #f38427;
	border-radius: 10px 10px 0 0;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.navmenu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 18px;
	font-weight: 400;
	list-style: none;
	justify-content: space-between;	
	padding: 0;
	margin: 0;
}
.navmenu > li {
	margin: 0 5px;
}

/*ul.navmenu a:hover, ul.navmenu a.active{
	color:#63bd0c;}*/

/* Submenu */

.subnav {
	display: none;
	padding-left: 15px;
}

.subnav2	{
	display: none;
 position: absolute;
 background: orange;
 text-align: left;
 padding: 10px;
}


.navmenu > li > a {
	align-items: center;
	color: #fff;
	display: flex;
	text-decoration: none;
	padding: 10px 12px;
	justify-content: center;
}
.navmenu > li > a:hover {
	transition: .2s;
	color: #3c3a3d;
}

/** ========= FlexMenu ========= **/

.navmenu li.flexMenu-viewMore > a {
	color: #fff;
}

li.flexMenu-viewMore span {
	font-size: 28px;
}

li.flexMenu-viewMore a:hover {
	transition: .2s;
	color: #3c3a3d;
}

.flexMenu-popup {
	background: #f38427;
	list-style: none;
	padding: 15px;
	margin: 0;
	transition: .2s;

	position: absolute;
	right: 0;
	text-align: left;
	overflow-y: auto;
 height: 100vh;
}
.flexMenu-popup li a {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 5px 10px
}
.flexMenu-popup li a:hover {
	color: #3c3a3d;
}