@media (max-width: 1199px) {
  body .main {
    padding-bottom: 270px;
    -webkit-clip-path: ellipse(80% 100% at top);
    clip-path: ellipse(80% 100% at top);
  }

  body .main-block__left {
    width: 70%;
  }

  body .main-block__left h1 {
    text-align: center;
    font-size: 62px;
  }

  body .main-block__right img {
    width: 170px;
    height: 170px;
  }

  body .main-block__button {
    margin-bottom: 200px;
  }

  body .features {
    top: -170px;
  }

  body .features-block {
    padding: 30px 20px;
  }

  body .features-block img {
    width: 70px;
    margin-bottom: 20px;
  }

  body .features-block__title {
    font-size: 16px;
    padding-bottom: 10px;
  }

  body .features-block__descr {
    font-size: 14px;
  }

  /* lk start */
  .lk-block__left {
    width: 22%;
  }

  .lk-block__right {
    width: 78%;
  }

  .lk-block__avatar {
    width: 150px;
    height: 150px;
  }
  /* lk end */
}

@media (max-width: 991px) {
  body .main {
    padding-bottom: 270px;
    background: #000 url("../img/main/bg.jpg") top no-repeat;
    background-size: cover;
    position: relative;
    -webkit-clip-path: ellipse(100% 100% at top);
    clip-path: ellipse(100% 100% at top);
  }

  body .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  body .main-block__left {
    width: 100%;
  }

  body .main-block__left h1 {
    font-family: 'Open Sans Condensed';
    font-size: 78px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 50px;
  }

  body .main-block__right {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
  }

  body .main-block__right img {
    position: relative;
    width: 160px;
    height: 160px;
  }

  body .main-block__social {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body .main-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 150px;
  }

  body .clock-01 {
    -webkit-transform: rotate(310deg);
    transform: rotate(310deg);
    top: 0;
    right: 0;
  }

  body .clock-02 {
    -webkit-transform: rotate(220deg);
    transform: rotate(220deg);
    top: 0;
    right: 0;
  }

  body .clock-03 {
    top: 0;
    right: 0;
  }

  body .order-1 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  body .order-2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  body .features {
    top: -170px;
  }

  body .features-block {
    padding: 30px 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18);
    margin: 10px 0;
  }

  body .features-block img {
    width: 70px;
    margin-bottom: 20px;
  }

  body .features-block__title {
    font-size: 16px;
    padding-bottom: 10px;
  }

  body .features-block__descr {
    font-size: 14px;
  }

  /* lk start */
  .lk-block__left {
    width: 30%;
  }

  .lk-block__right {
    width: 70%;
  }

  .lk-block__avatar {
    width: 150px;
    height: 150px;
  }

  .event-item-block-top {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .event-item-block-top__name {
    font-size: 16px;
    padding-bottom: 2px;
  }

  .event-item-block-top__time {
    font-size: 16px;
  }

  .event-item-block-bottom__point {
    padding-right: 30px;
  }

  .event-item-block-bottom__point-title,
  .event-item-block-bottom__date-title {
    text-transform: uppercase;
    font-size: 12px;
    color: #b4b4b4;
    padding-bottom: 2px;
  }

  .event-item-block-bottom__point-loc,
  .event-item-block-bottom__date-time {
    font-size: 12px;
  }

  .event-item-button-more {
    font-size: 12px;
    padding: 6px 20px;
  }
  /* lk end */
}

@media (max-width: 767px) {
  body .main {
    padding-bottom: 250px;
  }

  body .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  body .main-block__left {
    width: 100%;
  }

  body .main-block__left h1 {
    font-size: 56px;
    padding-bottom: 20px;
  }

  body .main-block__right {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
  }

  body .main-block__right img {
    position: relative;
    width: 160px;
    height: 160px;
  }

  body .main-block__social {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body .main-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 80px;
  }

  body .button-main {
    width: 180px;
    padding: 8px 0;
    margin: 0 15px;
    letter-spacing: 1px;
    border-radius: 50px;
    background: #3cb4f1;
    color: #fff;
    font-size: 18px;
    border: 2px solid transparent;
  }

  body .button-main:hover {
    -webkit-transition: .2s;
    transition: .2s;
    background: #2980ab;
  }

  body .button-main-o {
    border: 2px solid #fff;
    background: none;
  }

  body .button-main-o:hover {
    -webkit-transition: .2s;
    transition: .2s;
    border: 2px solid transparent;
  }

  body .news-block h2 {
    font-size: 24px;
    padding: 25px 0;
  }

  body .news-block__content {
    padding: 25px;
  }

  body .news-block__content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 60px;
  }

  body .news-block__content-item-date {
    padding-right: 25px;
    font-size: 20px;
  }

  body .news-block__content-item-text {
    font-size: 16px;
  }

  body .news-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body .news-block__button a {
    font-size: 18px;
    padding: 8px 50px;
  }

  body .footer {
    padding-bottom: 50px;
  }

  body .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 1px solid #3cb4f1;
    padding-top: 20px;
    width: 100%;
  }

  body .footer-block__social {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body .footer-block__social a {
    margin: 0 15px;
  }

  body .footer-block__social a span::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #3cb4f1;
    background: none;
    border: 1px solid #3cb4f1;
    border-radius: 50%;
    font-size: 24px;
    width: 42px;
    height: 42px;
  }

  body .footer-block__lic {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 30px;
  }

  body .footer-block__lic a {
    color: #3cb4f1;
    font-size: 16px;
    padding-left: 15px;
    text-transform: uppercase;
  }

  body .footer .order-3 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  body .footer .order-4 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  /* lk start */
  .lk-block__content-main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
  }
  
  .lk-block__left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .lk-block__right {
    width: 100%;
  }

  .lk-block__avatar {
    width: 200px;
    height: 200px;
  }

  .lk-block__name {
    font-size: 28px;
    padding-bottom: 25px;
    padding-top: 15px;
    text-align: center;
  }

  .lk-block__info {
    justify-content: center;
    padding-bottom: 25px;
  }

  .lk-block__button {
    justify-content: center;
    -ms-align-items: center;
  }

  .event-item {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .event-item-block-img {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 0 0;
  }

  .event-item-block-content {
    width: 100%;
    padding: 10px 60px 10px 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
  }

  .event-item-block-top {
    padding-bottom: 20px;
  }

  .event-item-block-top a {
    top: 120px;
    right: 5px;
  }

  .event-item-block-bottom {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
  }

  .event-item-block-bottom__point {
    padding: 0 60px 30px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  /* lk end */
}

@media (max-width: 575px) {
  body .header-block__logo {
    width: 100px;
  }

  body .main {
    padding-bottom: 150px;
  }

  body .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  body .main-block__left {
    width: 100%;
  }

  body .main-block__left h1 {
    font-size: 32px;
    padding-bottom: 20px;
  }

  body .main-block__right {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
  }

  body .main-block__right img {
    position: relative;
    width: 90px;
    height: 90px;
  }

  body .main-block__social {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body .main-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 80px;
  }

  body .button-main {
    width: 180px;
    padding: 8px 0;
    margin: 10px 15px;
  }

  body .features {
    top: -100px;
  }

  body .features-block {
    padding: 30px 20px;
    margin: 10px 0;
  }

  body .features-block img {
    width: 70px;
    margin-bottom: 20px;
  }

  body .features-block__title {
    font-size: 16px;
    padding-bottom: 10px;
  }

  body .features-block__descr {
    font-size: 14px;
  }

  body .news-block h2 {
    font-size: 20px;
    padding: 20px 0;
  }

  body .news-block__content {
    padding: 20px;
  }

  body .news-block__content-item {
    padding-bottom: 60px;
  }

  body .news-block__content-item-date {
    padding-right: 20px;
    font-size: 18px;
  }

  body .news-block__content-item-text {
    font-size: 14px;
  }

  body .news-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body .news-block__button a {
    font-size: 18px;
    padding: 8px 50px;
  }

  body .comments {
    padding: 80px 0 30px 0;
  }

  body .comments-block {
    outline: none;
    width: 280px;
    height: 400px;
    margin: 30px 50px;
    border-radius: 10px;
    padding: 30px;
  }

  body .comments-block__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  body .comments-block__container-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  body .comments-block__container-title-name {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
  }

  body .comments-block__container-title-location {
    color: #cecfce;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
  }

  body .comments-block__container-title-location span {
    padding-right: 5px;
    font-size: 20px;
  }

  body .comments-block__container-title-star {
    width: 100%;
    height: 10px;
  }

  body .comments-block__container-img1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
  }

  body .comments-block__descr {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 15px;
  }

  body .comments-block__date {
    width: 100%;
    font-size: 14px;
    text-align: right;
    color: #3cb4f1;
  }

  body .comments-slider {
    width: 100%;
    margin: 0	auto;
  }

  body .comments-block-bottom__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  body .section-title__comments {
    color: #3cb4f1;
    text-align: center;
  }

  body .overlay .popup {
    left: 50%;
    top: 50%;
    width: 280px;
    height: 460px;
    margin-left: -140px;
    margin-top: -230px;
    outline: none;
    background: #ededed;
    border-radius: 10px;
    padding: 10px 0 10px 0;
  }

  body .overlay-thankyou .popup-thankyou {
    position: absolute;
    overflow: visible;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    outline: none;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
  }

  body .overlay-thankyou .popup-thankyou .overlay-thankyou-img {
    display: none;
  }

  body .overlay-thankyou .popup-thankyou h2 {
    font-size: 22px;
    width: 100%;
    line-height: 24px;
    text-align: center;
  }

  body .overlay-thankyou .popup-thankyou_descr {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }

  body .overlay-thankyou .popup-thankyou_descr p {
    padding-top: 30px;
  }

  /* lk start */
  .header-lk-block__logo {
    width: 120px;
  }
  .block-content__primary {
    padding: 20px;
  }
  
  .lk-block__left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .lk-block__right {
    width: 100%;
  }

  .lk-block__avatar {
    width: 200px;
    height: 200px;
  }

  .lk-block__name {
    font-size: 28px;
    padding-bottom: 25px;
    padding-top: 15px;
    text-align: center;
  }

  .lk-block__info {
    justify-content: center;
    padding-bottom: 25px;
  }

  .lk-block__country {
  padding-right: 50px;
  }

  .lk-block__descr {
    font-size: 14px;
    line-height: 21px;
  }

  .lk-block__button {
    justify-content: center;
    -ms-align-items: center;
  }

  .event-item-block-top__name {
    font-size: 14px;
  }

  .event-item-block-top__time {
    font-size: 10px;
  }

  .event-item-block-content {
    width: 100%;
    padding: 10px 40px 10px 30px;
  }

  .event-item-block-bottom {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
  }

  .event-item-block-bottom__point {
    padding: 0 0px 15px 0;
  }

  .event-item-block-bottom__no-btn {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .event-item-block-bottom__date {
    padding-bottom: 20px;
  }
  /* lk end */
}










