body {
  position: relative;
  min-height: 100vh;
  background-color: #f8fafc;
  transition: background-color 1s;
}

p {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

main {
  padding: 50px 0 100px;
}

.navbar-light .navbar-nav .nav-link__active {
  color: rgba(0, 0, 0, 0.7);
}

.error {
  display: block;
  font-size: 12px;
  width: 100%;
  color: red;
}

.profile-info {
  position: relative;
}

.profile-info__meta {
  padding-left: 5px;
}

.profile-block {
  margin-bottom: 5px;
}

.profile-block input {
  width: 290px;
  padding: 0 5px;
}

.profile-block textarea {
  display: block;
  width: 100%;
}

.profile-block__showOnEdit {
  display: none;
}

.profile-block__hideOnEdit {
  display: block;
}

.profile-block input[disabled],
.profile-block textarea[disabled],
.profile-block input:disabled,
.profile-block textarea:disabled {
  background: transparent;
  border: none;
  opacity: 1;
  color: #212529;
}

.profile-name {
  margin-bottom: 15px;
}

.profile-img {
  margin: 0 auto 20px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}

.profile-settings {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 1;
  z-index: 1;
  cursor: pointer;
  font-size: 20px;
}

.profile-group {
  margin-bottom: 30px;
  padding-left: 5px;
}

.profile-group h6 {
  padding: 5px;
  opacity: .5;
}

.profile-group h6.profile-rate {
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  position: relative;
  background: red;
  overflow: hidden;
}

.profile-group h6.profile-rate span {
  position: relative;
  z-index: 2;
}

.profile-group h6.profile-rate div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: width 1s;
  background: blue;
}

.profile-img__upload .btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 100%;
  margin: auto;
  display: block;
  border: 2px solid #555;
}

.profile-img__upload .btn-tertiary:hover,
.profile-img__upload .btn-tertiary:focus {
  color: #888;
  border-color: #888;
}

.profile-img__upload .profile-img__input {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-img__upload .profile-img__input + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}

.profile-img__upload .profile-img__input + .js-labelFile .icon:before {
  content: "\F093";
}

.profile-img__upload .profile-img__input + .js-labelFile.has-file .icon:before {
  content: "\F00C";
  color: #5AAC7B;
}

.placeholder {
  color: #666 !important;
}

@media screen and (max-width: 991px) {
  .profile-img {
    width: 200px;
    height: 200px;
  }

  .profile-img__upload .btn-tertiary {
    width: 100px;
  }

  .profile-img__upload .btn-tertiary span {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .profile-block input {
    width: 200px;
  }
}

.post-card {
  margin-bottom: 25px;
}

.post-card .card-img {
  margin: 15px 0;
  height: 200px;
}

.post-card .card-img img {
  height: 200px;
}

.post-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-blocks__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.post-blocks__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 45px;
  color: #666;
}

.post-blocks__arrow-left {
  left: -45px;
}

.post-blocks__arrow-right {
  right: -45px;
}

.post-block a {
  padding: 0 30px;
  display: flex;
  align-items: center;
  margin: auto;
  height: 250px;
}

.post-block a img {
  margin: auto;
  width: auto !important;
  height: auto;
  max-height: 250px;
}

.post-block__img {
  display: flex;
  align-items: center;
  height: 250px;
}

.post-images__slider {
  height: 200px;
}

.post-images__slider a {
  display: flex;
  height: 200px;
}

.post-images__slider img {
  max-height: 200px;
  margin: auto;
  width: auto !important;
}

.post-images__slider .owl-dots,
.post-images__slider .owl-nav {
  height: 0;
}

.post-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #666;
}

.post-arrow__left {
  left: -15px;
}

.post-arrow__right {
  right: -15px;
}

.post-cat {
  color: rgba(0, 0, 0, 0.5);
  transition: color .3s;
}

.post-cat:hover {
  color: #000;
}

.post-images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.post-image {
  width: 20%;
  padding-right: 10px;
  flex-shrink: 0;
  position: relative;
}

.post-image__close {
  position: absolute;
  top: 0;
  right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #ccc;
  cursor: pointer;
  transition: background-color .3s;
}

.post-image__close:hover {
  background: #000;
}

.post-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#post-edit {
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  .post-blocks__title {
    flex-shrink: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .post-blocks__title-wrapper {
    flex-wrap: wrap;
  }

  .post-image {
    margin-bottom: 15px;
    width: 48%;
  }
}

@media screen and (max-width: 625px) {
  .post-blocks__arrow {
    top: auto;
    bottom: -5px;
    font-size: 30px;
  }

  .post-blocks__arrow-left {
    left: 0;
  }

  .post-blocks__arrow-right {
    right: 0;
  }
}

@media screen and (max-width: 499px) {
  .post-card .card-img a {
    height: 150px;
  }

  .post-card .card-img img {
    max-height: 150px;
  }

  .post-card .card-img {
    height: 150px;
  }

  .post-buttons {
    align-items: flex-start;
    flex-direction: column;
  }

  #post-edit {
    margin-bottom: 10px;
  }
}

.league-input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #cccccc;
}

@media screen and (max-width: 767px) {
  .table-wrapper {
    overflow: scroll;
  }

  .table-wrapper .table {
    width: 700px;
  }
}

.yaubral {
  background: url(/images/yaubral.jpg?e72f5eca3c6c58b100dd344126b5f937) fixed center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.yaubral-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: #fff;
  width: 100%;
}

.yaubral-text__wrapper {
  width: 100%;
}

.yaubral-text hr {
  background: #fff;
}

.yaubral-text h1,
.yaubral-text h2 {
  font-weight: 700;
  font-size: 50px;
}

.yaubral-text h1 a,
.yaubral-text h2 a {
  position: relative;
  color: #fff;
}

.yaubral-text h1 a::after,
.yaubral-text h2 a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  opacity: 0;
  background: #fff;
  transition: width .3s, opacity .3s;
}

.yaubral-text h1 a:hover,
.yaubral-text h2 a:hover {
  color: #fff;
}

.yaubral-text h1 a:hover::after,
.yaubral-text h2 a:hover::after {
  opacity: 1;
  width: 100%;
}

.yaubral-text p {
  font-weight: 700;
  margin-bottom: 25px;
}

.yaubral-text p span {
  display: block;
}

.yaubral-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.yaubral-form input {
  margin: auto;
  height: auto;
  max-width: 500px;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

.yaubral-btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  padding: 15px;
  width: 290px;
  text-transform: uppercase;
}

.yaubral-posts {
  padding: 50px 0;
}

.yaubral-error {
  display: inline;
  padding: 5px;
  background: #fff;
}

.yaubral-moderation {
  cursor: pointer;
  font-size: 30px;
}

.yaubral-moderation__ok {
  color: green;
}

.yaubral-moderation__delete {
  color: red;
}

.yaubral-loading {
  display: none;
  text-align: center;
}

.yaubral-loading img {
  max-width: 100%;
}

.yaubral-getWinner {
  display: none;
  margin-top: 20px;
}

.yaubral-winner {
  text-align: center;
}

.yaubral-winner a {
  text-align: center;
}

.yaubral-vk {
  position: absolute;
  display: flex;
  align-items: center;
  top: 30px;
  left: 30px;
  z-index: 99;
  font-size: 60px;
  cursor: pointer;
}

.yaubral-vk a {
  color: #fff;
  transition: color .3s;
}

.yaubral-vk a:hover {
  color: #ccc;
}

.yaubral-play {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99;
  -webkit-animation: play 3s infinite ease-in-out;
          animation: play 3s infinite ease-in-out;
  width: 100px;
  cursor: pointer;
}

.yaubral-play img {
  width: 100%;
}

.yaubral-play__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.yaubral-play__popup {
  display: none;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 102;
}

.yaubral-play__popup iframe {
  display: none;
  width: 1000px;
}

.yaubral-addWinners {
  margin-top: 30px;
}

@-webkit-keyframes play {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@keyframes play {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.lightgreen {
  background-color: lightgreen !important;
}

.bg-orange {
  background-color: orange !important;
}

@media screen and (max-width: 1199px) {
  .yaubral-play__popup {
    width: 95%;
    justify-content: center;
  }

  .yaubral-play__popup iframe {
    width: 100%;
  }

  .yaubral-text h1,
  .yaubral-text h2 {
    font-size: 35px;
  }

  .yaubral-text p {
    font-size: 15px;
  }

  .yaubral-form input {
    font-size: 15px;
  }

  .yaubral-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .yaubral-posts h3 {
    font-size: 22px;
  }

  .yaubral-posts__table {
    overflow-x: scroll;
  }

  .yaubral-posts__table table {
    width: 690px;
  }

  .yaubral-play {
    width: 50px;
  }

  .yaubral-vk {
    font-size: 30px;
  }

  .yaubral-commonInfo {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 575px) {
  .yaubral {
    height: 625px;
  }

  .yaubral-play {
    width: 40px;
    right: 5px;
  }

  .yaubral-vk {
    left: 5px;
  }

  .yaubral-text h1,
  .yaubral-text h2 {
    font-size: 25px;
  }

  .yaubral-text p {
    font-size: 13px;
  }
}

.yarazdelil {
  background: url(/images/yarazdelil_2.jpg?e6e886120553cd79b7f40a770cf85b64) fixed center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.yarazdelil-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: #fff;
  width: 100%;
}

.yarazdelil-text__wrapper {
  width: 100%;
}

.yarazdelil-text hr {
  background: #fff;
}

.yarazdelil-text h1,
.yarazdelil-text h2 {
  font-weight: 700;
  font-size: 50px;
}

.yarazdelil-text h1 a,
.yarazdelil-text h2 a {
  position: relative;
  color: #fff;
}

.yarazdelil-text h1 a::after,
.yarazdelil-text h2 a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  opacity: 0;
  background: #fff;
  transition: width .3s, opacity .3s;
}

.yarazdelil-text h1 a:hover,
.yarazdelil-text h2 a:hover {
  color: #fff;
}

.yarazdelil-text h1 a:hover::after,
.yarazdelil-text h2 a:hover::after {
  opacity: 1;
  width: 100%;
}

.yarazdelil-text p {
  font-weight: 700;
  margin-bottom: 25px;
}

.yarazdelil-text p span {
  display: block;
}

.yarazdelil-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.yarazdelil-form input {
  margin: auto;
  height: auto;
  max-width: 500px;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

.yarazdelil-btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  padding: 15px;
  width: 290px;
  text-transform: uppercase;
}

.yarazdelil-posts {
  padding: 50px 0;
}

.yarazdelil-error {
  display: inline;
  padding: 5px;
  background: #fff;
}

.yarazdelil-moderation {
  cursor: pointer;
  font-size: 30px;
}

.yarazdelil-moderation__ok {
  color: green;
}

.yarazdelil-moderation__delete {
  color: red;
}

.yarazdelil-loading {
  display: none;
  text-align: center;
}

.yarazdelil-loading img {
  max-width: 100%;
}

.yarazdelil-getWinner {
  display: none;
  margin-top: 20px;
}

.yarazdelil-winner {
  text-align: center;
}

.yarazdelil-winner a {
  text-align: center;
}

.yarazdelil-vk {
  position: absolute;
  display: flex;
  align-items: center;
  top: 30px;
  left: 30px;
  z-index: 99;
  font-size: 60px;
  cursor: pointer;
}

.yarazdelil-vk a {
  color: #fff;
  transition: color .3s;
}

.yarazdelil-vk a:hover {
  color: #ccc;
}

.yarazdelil-play {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99;
  -webkit-animation: play 3s infinite ease-in-out;
          animation: play 3s infinite ease-in-out;
  width: 100px;
  cursor: pointer;
}

.yarazdelil-play img {
  width: 100%;
}

.yarazdelil-play__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.yarazdelil-play__popup {
  display: none;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 102;
}

.yarazdelil-play__popup iframe {
  display: none;
  width: 1000px;
}

.yarazdelil-addWinners {
  margin-top: 30px;
}

@keyframes play {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.lightgreen {
  background-color: lightgreen !important;
}

.bg-orange {
  background-color: orange !important;
}

@media screen and (max-width: 1199px) {
  .yarazdelil-play__popup {
    width: 95%;
    justify-content: center;
  }

  .yarazdelil-play__popup iframe {
    width: 100%;
  }

  .yarazdelil-text h1,
  .yarazdelil-text h2 {
    font-size: 35px;
  }

  .yarazdelil-text p {
    font-size: 15px;
  }

  .yarazdelil-form input {
    font-size: 15px;
  }

  .yarazdelil-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .yarazdelil-posts h3 {
    font-size: 22px;
  }

  .yarazdelil-posts__table {
    overflow-x: scroll;
  }

  .yarazdelil-posts__table table {
    width: 690px;
  }

  .yarazdelil-play {
    width: 50px;
  }

  .yarazdelil-vk {
    font-size: 30px;
  }

  .yarazdelil-commonInfo {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 575px) {
  .yarazdelil {
    height: 625px;
  }

  .yarazdelil-play {
    width: 40px;
    right: 5px;
  }

  .yarazdelil-vk {
    left: 5px;
  }

  .yarazdelil-text h1,
  .yarazdelil-text h2 {
    font-size: 25px;
  }

  .yarazdelil-text p {
    font-size: 13px;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: #666;
  text-align: center;
  z-index: 10;
}

footer p {
  color: #fff;
  margin-bottom: 0;
  font-size: 13px;
}

footer p a {
  color: #fff;
  transition: color .3s;
}

footer p a:hover {
  text-decoration: none;
  color: #e5e5e5;
}

@media screen and (max-width: 1024px) {
  footer {
    position: absolute;
  }
}

.blue {
  color: #1E90FF !important;
}

.green {
  color: #008000 !important;
}

.pink {
  color: #FFA07A !important;
}

.brown {
  color: #8B4513 !important;
}

.yellow {
  color: #FFA500 !important;
}

.blue-bg {
  background-color: rgba(30, 144, 255, 0.05) !important;
}

.green-bg {
  background-color: rgba(0, 128, 0, 0.05) !important;
}

.pink-bg {
  background-color: rgba(255, 160, 122, 0.05) !important;
}

.brown-bg {
  background-color: rgba(139, 69, 19, 0.05) !important;
}

.yellow-bg {
  background-color: rgba(255, 165, 0, 0.05) !important;
}

